.purple{
    background-color: purple;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.blue{
    background-color: blue;
    padding: 20px;
    margin: 20px;
}
.yo{
padding: 50px;
margin: 20px;
background-color: rgb(255, 255, 119);

}
.flex{
display: flex;
}
.red{
    background-color: rgb(255, 98, 98);
    padding-right: 190px;
}